.DS_Store
*.so
*.pyc
._*
.nfs.*

*~
*.orig
*.rej
*.exe
.*.swp
*.cgo*.go
*.cgo*.c

_cgo_*
_obj
_test
_testmain.go

/VERSION.cache
/bin/
/build.out
/doc/articles/wiki/*.bin
/goinstall.log
/last-change

/pkg/
/src/*.*/

/test.out
/test/garbage/*.out

# This file includes artifacts of Go build that should not be checked in.
# For files created by specific development environment (e.g. editor),
# use alternative ways to exclude files from git.
# For example, set up .git/info/exclude or use a global .gitignore.

wille
